* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: hsl(45, 10%, 95%);
}

h1 {
  color: hsl(215, 10%, 25%);
  font-family: system-ui, sans-serif;
  font-size: 3rem;
  line-height: 4rem;
}
